@import "mixin";
@import "config.scss";
@import "devices-breakpoints.scss";

.container-auth {
  @include flexCenter;
  height: 89vh;

  &-form {
    @include flexCenter;
    height: 65vh;
    width: 99%;
    overflow: hidden;
    background-color: $primaryColor;
    color: $thirdColor;
    box-shadow: 5px 5px 17px 5px rgba(99, 65, 0, 0.4);
    border-radius: 20px;

    @media screen and (min-width: $lg+px) {
      width: 40%;
    }

    h2 {
      font-size: 2.2rem;
      margin-bottom: 7vh;

      @media screen and (min-width: $sm+px) {
        font-size: 3.5rem;
      }
       @media screen and (min-width: $lg+px) {
        font-size: 2rem;
      }
    }
    p {
      margin-top: 5vh;
      font-weight: 700;
      letter-spacing: 0.1vh;
      @media screen and (min-width: $sm+px) {
        font-size: 1.4rem;
      }
      @media screen and (min-width: $md+px) {
        font-size: 1.8rem;
      }
      @media screen and (min-width: $lg+px) {
        a:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
.form-auth {
  @include flexCenter;
  width: 100%;

  #password,
  #email {
    width: 95%;
    height: 5vh;

    @media screen and (min-width: $lg+px) {
      width: 75%;
    }
  }
  #password {
    margin-top: 1vh;
  }
  input {
    border: none;
    appearance: none;
    padding: 3vh;
    outline: none;
    font-weight: 700;
    color: $complementaryColor;

    @media screen and (min-width: $sm+px) {
      font-size: 1.5rem;
    }
    @media screen and (min-width: $md+px) {
      font-size: 1.7rem;
    }
    @media screen and (min-width: $lg+px) {
      font-size: 1.7rem;
    }

    &::placeholder {
      font-weight: 700;
      letter-spacing: 0.2vh;
      color: $complementaryColor;

      @media screen and (min-width: $sm+px) {
        font-size: 1.1rem;
      }
      @media screen and (min-width: $md+px) {
        font-size: 1.4rem;
      }
    }
  }
  &-button {
    margin-top: 5vh;
    padding: 1.5vh 3vh;
    width: 50%;
    font-size: 1rem;

    @media screen and (min-width: $sm+px) {
      font-size: 1.7rem;
    }
    @media screen and (min-width: $md+px) {
      font-size: 2rem;
    }
    @media screen and (min-width: $lg+px) {
      width: 35%;

      &:hover {
        background-color: $secondaryColor;
        color: $thirdColor;
      }
    }
  }
}
