@import "config.scss";
@import "mixin.scss";
@import "devices-breakpoints.scss";
button {
  @include buttonStyle;
}

//Header.js

.header-signup,
.header-signin,
.header-logout {
  font-size: 2.2vh;
  padding: 1.9vh 3.5vh;
  color: $complementaryColor;

  &:hover {
    background-color: $secondaryColor;
    color: $thirdColor;
  }

  @media (max-width: $sm+px) {
    font-size: 1.5vh;
    font-weight: 700;
    padding: 1vh 1.5vh;
  }
  @media (max-width: $md+px) {
  }
}
.header-signup,
.header-signin {
  margin-right: 3vh;
}
.change-theme {
  position: relative;
  width: 13vh;
  padding: 3vh 0vh;
  border-radius: 50px;

  &-toggle {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50px;
    height: 100%;
    background-color: $primaryColor;
    border: 3px solid $thirdColor;
    width: 50%;
    color: #f5f3ce;
    @media (max-width: $sm+px) {
      border: 1px solid $thirdColor;
    }
  }

  @media (max-width: $sm+px) {
    padding: 2vh 0vh;
  }
  @media (max-width: $md+px) {
  }
}

.dark {
  right: 0;
}
.light-icon {
  color: #ffff00;
}

//Signup.js Signin.js

.form-container-button {
  width: 30%;
  padding: 2vh 1vh;
  margin-top: 5vh;
  font-size: 2vh;
  color: $primaryColor;

  &:hover {
    background-color: $secondaryColor;
    color: $thirdColor;
  }
}

//Welcome.js

.welcome-button {
  padding: 1.5vh 3vh;
  font-size: 1rem;
  border: 2px solid $thirdColor;
  background-color: transparent;
  color: $thirdColor;

  &:hover {
    background-color: $thirdColor;
    color: $primaryColor;
  }
}

//AddNote.js

.add-note-button,
.update-note-button {
  padding: 2vh 8.5vh;
  margin-top: 5vh;
  font-size: 1rem;
  background-color: $primaryColor;
  color: $thirdColor;

  &:hover {
    background-color: $secondaryColor;
    color: $thirdColor;
  }
}

//Notes.js

.delete-button,
.edit-button {
  background-color: transparent;
  color: $primaryColor;
}

//SearchNote.js

.search-button {
  padding: 3vh;
  margin-left: 1vh;
  color: $primaryColor;
}
