@import "mixin.scss";
@import "config.scss";
@import "devices-breakpoints.scss";

.form-auth {
  @include flexCenter;
  width: 80%;

  input {
    width: 80%;
    height: 5vh;
    margin-top: 5vh;
    border: none;
    appearance: none;
    padding: 3vh;
    outline: none;
    font-weight: 700;
    color: $complementaryColor;

    &::placeholder {
      font-weight: 700;
      color: $complementaryColor;
    }
  }
}

.form-search-note {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
  margin-top: 7vh;
  color: $complementaryColor;
}

.input-search-note {
  width: 70%;
  height: 6vh;
  font-size: 2.2rem;
  padding: 5vh 0;
  outline: none;
  border: none;
  color: $complementaryColor;
  border-bottom: 2px solid $complementaryColor;

  &::placeholder {
    color: $complementaryColor;
  }
}
