@import "config.scss";
@import "mixin.scss";
@import "devices-breakpoints.scss";

.header {
  height: 11vh;
  background-color: $primaryColor;

  &-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }
  &-link {
    color: $complementaryColor;
  }
}
.header-buttons {
  display: flex;
  align-items: center;
  margin-right: 3vh;

  @media screen and (min-width: $lg+px) {
    margin-right: 10vh;
  }
}

.change-theme {
  position: relative;
  width: 12vh;
  padding: 2.5vh 0vh;
  border-radius: 50px;

  &-toggle {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50px;
    height: 100%;
    background-color: $primaryColor;
    border: 3px solid $thirdColor;
    width: 50%;
    color: #f5f3ce;
    @media (max-width: $sm+px) {
      border: 1px solid $thirdColor;
    }
  }
}

.logo {
  color: $thirdColor;
  margin-left: 3vh;
  font-weight: 700;
  letter-spacing: 0.2vh;
  font-size: 1.5rem;
  text-align: center;

  @media screen and (min-width: $sm+px) {
    font-size: 2rem;
  }
  @media screen and (min-width: $lg+px) {
    margin-left: 10vh;
    font-size: 1.7rem;
  }
}

.dark {
  right: 0;
}

.dark-mode-icon {
  color: #ffff00 !important;
  font-size: 1.2rem !important;

  @media screen and (min-width: $sm+px) {
    font-size: 2rem !important;
  }
  @media screen and (min-width: $md+px) {
    font-size: 2.2rem !important;
  }
  @media screen and (min-width: $lg+px) {
    font-size: 1.7rem !important;
  }
}
