@import "config.scss";
@import "mixin.scss";
@import "devices-breakpoints.scss";

.container {
  display: flex;
  height: 89vh;
  width: 100%;
  background-color: $thirdColor;
  overflow: hidden;

  &-page {
    width: 100%;
  }
  &-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $secondaryColor;
    border-top: 1px solid $thirdColor;
    text-align: center;
    height: 12vh;
  }
}

.header-text {
  font-size: 1.6rem;
  color: $thirdColor;
  &::selection {
    background-color: $primaryColor;
  }
  @media screen and (min-width: $sm+px) {
    font-size: 2.7rem;
  }
  @media screen and (min-width: $md+px) {
    font-size: 3rem;
  }
  @media screen and (min-width: $lg+px) {
    font-size: 4rem;
  }
}

.main-search {
  @include flexCenter;
  width: 100%;
  height: 75%;
  margin-top: 1vh;
  padding-top: 2vh;
  font-size: 2.2rem;
  overflow-y: auto;
}
.note-search-info {
  display: flex;
}

.search-note-data {
  display: flex;
}
