@import "mixin";
@import "config.scss";
@import "devices-breakpoints.scss";

.form-container {
  @include flexCenter;
  width: 40%;
  height: 70vh;
  overflow: hidden;
  background-color: $primaryColor;
  color: $thirdColor;
  box-shadow: 5px 5px 17px 5px rgba(99, 65, 0, 0.4);
  border-radius: 20px;

  form {
    @include flexCenter;
    width: 80%;
    #password,
    #email {
      width: 80%;
      height: 5vh;
    }
    button {
      width: 30%;
      padding: 1.5vh 0.5vh;
      border-radius: 5px;
      border: none;
      margin-top: 5vh;
      font-size: 2vh;
      letter-spacing: 0.2vh;
      font-weight: bold;
      background-color: $thirdColor;
      color: $primaryColor;
      cursor: pointer;
      outline: none;
      transition: all 0.5s;

      &:hover {
        background-color: $secondaryColor;
        color: $thirdColor;
      }
    }
  }
  input {
    margin-top: 5vh;
    border: none;
    appearance: none;
    padding: 3vh;
    outline: none;
    font-weight: 700;
    color: $complementaryColor;

    &::placeholder {
      font-weight: 700;
      color: $complementaryColor;
    }
  }
  h2 {
    margin-bottom: 5vh;
    font-size: 6vh;
  }
  p {
    margin-top: 5vh;

    a {
      color: $secondaryColor;
      font-weight: 700;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
