@import "mixin";
@import "config.scss";
@import "devices-breakpoints.scss";

.welcome-page {
  @include flexCenter;
  height: 89vh;
  background-image: url(./img/welcome.jpg);
  background-size: cover;

  h1 {
    text-align: center;
    padding: 5vh 0;
    color: $thirdColor;

    @media screen and (min-width: $sm+px) {
      font-size: 3rem;
    }
    @media screen and (min-width: $md+px) {
      font-size: 2.9rem;
    }
    @media screen and (min-width: $lg+px) {
      font-size: 3rem;
      padding: 3vh 6vh;
    }
  }

  &-container {
    @include flexCenter;
    background-color: $primaryColor;
    border-radius: 20px;
    opacity: 0.9;
    height: 60vh;

    p {
      color: $thirdColor;
      font-size: 1rem;
      text-align: center;
      padding: 2vh;
      font-weight: 700;

      @media screen and (min-width: $sm+px) {
        font-size: 1.6rem;
      }
      @media screen and (min-width: $md+px) {
        font-size: 2.1rem;
      }
      @media screen and (min-width: $lg+px) {
        font-size: 1.8rem;
        padding: 2vh 10vh;
      }
    }
  }
  &-signup,
  &-signin {
    @include flexCenter;
  }
  &-signup {
    margin-top: 6vh;
    margin-bottom: 2vh;
  }
  &-button {
    padding: 1.5vh 3vh;
    font-size: 1rem;
    border: 2px solid $thirdColor;
    background-color: transparent;
    color: $thirdColor;

    @media screen and (min-width: $sm+px) {
      font-size: 1.5rem;
    }
    @media screen and (min-width: $md+px) {
      font-size: 1.9rem;
    }
    @media screen and (min-width: $lg+px) {
      font-size: 1.9rem;
      &:hover {
        background-color: $thirdColor;
        color: $primaryColor;
      }
    }
  }
}
